head {}

title {}

body {}

header {}
.logo-link {
    display: flex;
    align-items: left;
    margin-right: 1rem;
    margin-left: 1rem;
    margin: 0 1rem;
}

.logo-link img {
    width: 5vw;
    height: auto;
    position: fixed;
    border-radius: 50%;
}
.name {}

h1 {}

section {}

.photo {}

img {}

.date_of_b {}

.biography {}

p {}

.filmography {}

ol {}

ul {}