/* apply a natural box layout model to all elements, but allowing components to change */

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

head {}

title {}

body {
    font-family: 'Alegreya Sans', sans-serif;
    background-color: #d6d6d6;
    text-align: center;
}

header {}

#home {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.logo-link {
    display: block;
    float: left;
    margin-right: 1rem;
    margin-left: 1rem;
    margin: 0 1rem;
}

.logo-link img {
    width: 5vw;
    height: auto;
    position: fixed;;
    border-radius: 50%;
    align-self: left;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-self: flex-end;
    list-style: none;
    padding-left: 0;
    margin: 0;
}

li {
    display: block;
    padding: 2vw;
    background-color: #919b06;
}

nav a {
    display: block;
    width: 100%;
    padding: 0.25rem 1rem;
    color: #fff;
    text-decoration: none;
    text-align: center;
}

nav a:hover,
nav a:focus {
    background-color: #54bd8f;
    color: #232323;
}

.main_title {
    text-align: center;
    font-size: 3em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-self: flex-end;
}

section {}

#news {}

.news {}

article {}

.title {}

.article {}

#hot_mov {}

.hot_mov {}
.hot_mov img{
    width: 70%;
    height: auto;
    display: flex;
  margin: auto;
}

/* #hot_act {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.hot_act {
    display: flex;
    flex-direction: row;
    font-size:1em;
    justify-content: space-around;
    align-items: center;
}
.hot_act a{
    font-size: 1.2em;
}
.hot_act_text{
    margin: 0;
}
.hot_act p{
    width: 30%;
}*/
.hot_act img{
    width: 10%;
    height: auto;
}

footer {
    padding: 3vw 6vw;
}

#contact {}